<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Treinar</title>
</head>
<body>
    <div id="digit-recognizer">
        <canvas width="280" height="280">Seu navegador/dispositivo não oferece suporte ao recurso.</canvas>
        <span class="material-symbols-outlined arrow">arrow_right_alt</span>
        <input type="text" maxlength="1" class="result">
    </div>
    <div id="button-container">
        <button>Insert</button>
    </div>
    <div id="table-container">
        <table>
            <thead>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
            </thead>
            <tbody>
                <tr>
                    <td class="table0">0</td>
                    <td class="table1">0</td>
                    <td class="table2">0</td>
                    <td class="table3">0</td>
                    <td class="table4">0</td>
                    <td class="table5">0</td>
                    <td class="table6">0</td>
                    <td class="table7">0</td>
                    <td class="table8">0</td>
                    <td class="table9">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>